<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script> -->
        <!-- <link rel="stylesheet" href="/stylesheets/app.css"> -->
    </head>
    <body>
    <p>....... HTML body start......</p>
    <div class="ui fixed inverted menu">
        <!-- <p>ui fixed inverted menu</p> -->

        <div class="ui container">
            <!-- <p>ui container</p> -->

            <div class="header item">
                <!-- <p>header item</p> -->

                <i class="code icon"></i>Blog Site</div>
            <a href="/" class="item">Home:  /</a>
            <a href="/blogs/new" class="item" >New Post: /blogs/new</a>
        </div>
    </div>